*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cinzel;
}
.Pricing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-image: url(./bg.png);
  background-size: contain;
}
.PriceHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color:white; */
}
.free{
  width: 350px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
.free img{
  width: 20px;
}
.Prices{
  width:400px ;
  height: 60px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color:white;
  padding: 5px;
  margin-bottom: 30px;
}
.Prices .PriceBtn{
  border-radius: 20px;
  transition: background-color 0.3s ease;
 background-color: white;
 border: none;
padding: 10px;
}
.PriceBtn:active{
  background-color: #D3AC35 !important;
  color: #F3F3F3;
}.PriceBtn:focus{
  background-color: #D0AA34;
}
.Pricebox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.pricesMain{
  width: 70%;
  column-gap: 30px;
  border: 16px solid transparent; 
  border-image: linear-gradient(259.82deg, #D0AA34 33.47%, #A57914 70.76%, #FFFFFF 109.26%);
  border-image-slice: 1;
  border-radius: 20px;
  padding: 30px;
  clip-path: inset(0 round 15px); 
  background-color: white;
}
.pricesMain button{
  width: 200px;
  height: 50px;
  color: #F3F3F3;
  border-radius:8px ;
  margin:30px 0 0 10px;
  border: none;
  background: linear-gradient(90deg, #D4AF37 0%, #A37611 100%);

}
.BoxPrices{
  text-align: center;
}
.BoxPrices h2{
color: gray;
}
.BoxPrices h1{
 color: #D0AA34;
  }
.BoxPrices .time{
  width: 200px;
 border-radius: 20px;
  padding: 10px;
  background-color: #efd179 ;
  color: #A57914;
  text-align: center;
}
.Matters{
  text-align: center;
}
.Matters h2{
  padding: 10px;
}
.Matters img{
  width: 25px;
  margin-right: 10px;
}


