*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.body{
    background-color: white;
    margin:0;
    padding: 0;
    overflow:hidden ;
    font-family: cinzel;
}
.nav{
 display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.navbar ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.navbar ul li{
   list-style: none;
    color: #cda434;
    border:none;
    background-color: white;
    font-family: "Cinzel"; 
    cursor: pointer;
    padding: 10px;
}
.navbar ul li:hover{
    background:linear-gradient(#d4af37,#a37611);
    color: white;
    border-radius: 8px;
}

#login{
    color:#cda434;
    padding: 10px;
    border:2px solid #cda434;
}
#login:hover{
    color: white;
}
.banner{
    
   text-align: center;
}
.banner h2{
    margin: 20px;
    color: rgba(205, 164, 52, 1);

}
.banner p{
      color:rgba(140, 120, 83, 1);
      font-size: 20px; 
      margin:2px;
}
/* #tag{
    font-size: 13px;
    color: #8C7853;
    width:454px;
   
} */

.title{
    color: #CDA434;
    font-size: 32px;
}
.navbar{
    display: "flex";
    gap: 40px;
   
}

#free{
    background:linear-gradient(#d4af37,#a37611);
    background-color:#cda434;
    color: white;
    border: none;
    font-family: "Cormorant Garamond";
    border-radius: 11.16px;
    padding: 10px;
    margin: 30px 0px;
}
#free img{
    align-items: center;
    width: 25px;
}


.Four_cards{
    background-image: url(../../../public/bg.png);
    background-size: contain;
    display: flex;
     gap: 25px;
     padding: 40px;
     justify-content: center;
}
.cards_container{
    width: 447px;
     display: flex;
      flex-wrap: wrap;
       gap: 5px;
       /* background-color:fffaea; */
}
#img1{
    border-radius: 16px;
     width: 219px;
      height: 219px
}
#img2{
    width:452px;
     height:452;
     border-radius: 16px;
}
#cardbox{
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
     gap:22px;
     padding: 100px 0px;
}





#tools{
    color: #cda434;
    width:373px;
    height:100px;
    display: flex;
     width: 373px;
      gap: 10px
}
.cards{
    display: flex;
     flex-direction: column;
      justify-content: flex-start ;
      align-items:flex-start;
      width:250px;
      height:80px
}
#head{
    font-size: 16px;

}
#descript{
    font-size: 13px;
    color: #8C7853   
}



.accordianset{
    display: flex;
    flex-direction: column;
    gap:15.3px;
}

.header2{
    color: #cda434;
    font-size: 32px;
 text-align: center;
 margin: 50px 0px;
}


.contains{
    display: flex;
     flex-direction: column;
     align-items:center;
     /* justify-content:flex-end;  */
     gap: 10px;
     /* position: relative; */
}
.text{
    display:"flex";
}
#cards{
    border:none;
    border-radius: 7.26px;
}
.horizontal{
    background: rgba(255, 250, 234, 1);

    display: flex;
     align-items: center;
      gap: 17.3px;
        width: 912.9px;
         justify-content: center;
          padding-bottom: 17.3px 
}


#small_text{
    font-size: 9.07px;
    color:#cda434;
    padding-left: 20px;
}
#time{
    font-size:9.07px;
    color: #808080;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
.cards_text{
    background-color: #8C7853;
}





.black_card{
    width: 223.23px;
     height: 685.13px;
     background-color: #2b2b2b;
    border-radius: 7.26px;
    border: 0.91px solid #808080;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    position:absolute;
    margin-top: 120px;
    top:1350px;
    left:100px;
        
}
.section{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center 
}
.img2{
    border: none;
     border-radius: 4.12px
}
#part2{
    display:flex;
    flex-direction:column;
    gap:16.1px;
    justify-content:center;
    align-items:center;
    margin-top:16.1px;
}
.accordion{
    color: #808080;
}
.accordion-item{
    background-color: transparent;
     width: 194.19px ;
     height:42.15;
     padding:0px;
}
.accordion-body{
    color:white;
}
.accordion-button{
    width: 194.19px
}
#background{
    color: #808080;
    font-size: 9.07px;
     font-family: helvetica;
      margin: 0px;
       text-align: left
}
#texts{
    font-size: 11.8px;
     color: #cda434 
}
#part{
    color: aliceblue; 
    font-size:11.8px;
    text-align: left;
    padding-left:12px; 
    font-size:11.8px;
    font-weight:700;
    margin-top:5px;
    margin-bottom:5px;
    font-family:helvetica;
    padding-bottom:0.6px;
    padding-top:0.6px;
}
#part1{
    color: aliceblue; 
    font-size:11.8px;
    text-align: left;
    padding-left:12px; 
    font-size:11.8px;
    font-weight:700;
    margin-bottom:5px;
    font-family:helvetica;
    padding-bottom:0.6px;
    
}
#buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px
}
#quality{
    background-color:#2b2b2b;
    border:0.91px solid #808080;
    border-radius:7.26px;
    font-size:11.8px;
    font-family:helvetica;
    padding-left:30px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom:5px
}
#fast{
    background-color:#2b2b2b;
    border:0.91px solid #cda434;
    border-radius:7.26px;
    font-size:11.8px;
    font-family:helvetica;
    padding-left:30px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom:5px
}
#qun{
    color: #808080;
    font-family: helvetica;
    font-size: 9.07px;
}
#cards_text{
    display: flex;
    gap: 15px;
    
}
#small_text{
    font-size: 9.07px;
    color:#cda434;
    padding-left: 20px;
}
#time{
    font-size:9.07px;
    color: #808080;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
.align{
    display: flex;
    justify-content:space-between;
    padding: 5px;
}
.containers{
    display: flex;
    flex-direction: column;
    border: 2px solid #cda434;
    border-radius: 7.26px;
    margin-left: 180px;
}
.media{
    display: flex;
    justify-content: center;
    gap:10px;
}
.numbers{
    display: flex;
    gap:7.26px;
    justify-content: flex-start;
    margin-left: 15px;
}
#generate{
    background:linear-gradient(#d4af37,#a37611);
    width:194px;
    border-radius: 10.13px;
    height: 36.5px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    margin-left: 15px;
    align-items: center;
    padding: 18px;
    
    

}
#generate p{
    text-align: center;
    color:white;
   font-size: 18.15px;
   
} 