*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cinzel;
}

.footer {
    background-color: white;
    color: #c9a660;
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
   
 
  }
   #shaadi{
    color: #d4ae37;
    font-family: cormorant goramond;
    font-size: 24px;
    margin: 60px;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    color: #8c7846;
  

  }
  .footer-section p{
    font-family: Lora;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#8c7846;
  }
  
  .footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    margin: 40px;
    display: flex;
    align-items: center;
    gap:25px;
    justify-content: center;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #8c7853;
    font-size: 16px;
  }
  
  .social-icons a:hover {
    text-decoration: underline
  }
.location{
  display: flex;
  gap:20px
}