.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Mandaps{
    display: flex;
    gap: 10px;
}
.Mandaps button{
    padding: 10px;
    border-radius: 20px;
  border: none;
  color: black;
   
}
.Mandaps button:active{
    background-color: gold;
}
.Mandaps button:focus{
  background-color: gold;
}

.venu{
    display: flex;
    align-items: center;

}
.venu img{
    width: 40px;
    height: 40px;
}
.ramhere {
    display: flex;
   
    padding: 20px;
  }



  .mandapasBgimages {
    display: flex;
    overflow-x: auto;  
    overflow-y: hidden;
    scroll-behavior: smooth;
    gap: 10px;
    max-width: 100%;
    white-space: nowrap; 
    padding: 10px;
}

.mandapasBgimages::-webkit-scrollbar {
    display: none;
}

  .mandap-card {
    width: 350px; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    background: white;
  }
  
  .mandap-card:hover {
    transform: scale(1.05);
  }
  

  .mandap-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  

  .mandap-details {
    padding-top: 10px;
  }
  
  .mandap-details h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #D3AC35;
  }
  
  .mandap-details p {
    font-size: 14px;
    color: #555;
  }
  


